<mat-card>
  <list-header [headerText]="'Investment Accounts'"></list-header>
  <button mat-raised-button [routerLink]="['/create-investment']">Create</button>
  <mat-card-content>
    <ag-grid-angular
      class="ag-theme-alpine"
      style="height: 100%; width: 100%"
      [columnDefs]="columnDefs"
      [defaultColDef]="defaultColDef"
      [rowData]="investmentAccounts"
      [rowSelection]="'multiple'"
      [animateRows]="true"
      [domLayout]="'autoHeight'"
      (gridReady)="onGridReady()"
    ></ag-grid-angular>
  </mat-card-content>
</mat-card>
