<mat-card>
  <mat-card-header>
    <h1>Create account</h1>
  </mat-card-header>
  <mat-card-content>
    <div class="form-container">
      <mat-form-field>
        <mat-label>Name</mat-label>
        <input matInput />
      </mat-form-field>
      <br />
      <mat-form-field>
        <mat-label>Account type</mat-label>
        <mat-select>
          <mat-option value="one">Cash</mat-option>
          <mat-option value="two">Credit</mat-option>
          <mat-option value="three">Investment</mat-option>
        </mat-select>
      </mat-form-field>
      <br />
      <mat-form-field>
        <mat-label>Textarea</mat-label>
        <textarea matInput></textarea>
      </mat-form-field>
    </div>
  </mat-card-content>
</mat-card>
